<h1>Photo Gallery</h1>

<% @photo_albums.in_groups_of(5, nil) do |group| %>
  <div class="row">
    <% group.each do |photo_album| %>
      <div class="col-md-2">
        <%= render photo_album if photo_album %>
      </div>
    <% end %>
  </div>
<% end %>