<main class="container-fluid photo-albums">
  <h1 class="text-center"><%= @photo_album.title %> Photos</h1>

  <%= no_photos_message(@photo_album) %>

  <% @photo_album.photos.in_groups_of(5, nil) do |group| %>
    <div class="row-container">
      <% group.each do |photo| %>
        <%= render photo if photo %>
      <% end %>
    </div>
  <% end %>

  <turbo-frame id="lightbox"></turbo-frame>
  
  <div class="actions">
    <%= new_photo_button(@photo_album) %>
  </div>
</main>