<% content_for :title, "About #{t('app.title')}" %>

<main class="container-fluid about">  
  <div class="admin-actions">
    <%= link_to 'Edit', edit_about_path if policy(@about).edit? %>
  </div>

  <%= @about.content %>
</main>