<div class="card">
  <%= image_tag photo.image, class: 'card-img', alt: photo.description %>

  <div class="card-body">
    <p class="text-center">
      <%= photo.description %>
    </p>

    <div class="actions">
      <%= photo_actions(photo) %>
    </div>
    
    <div class="overlay-actions">
      <%= link_to "View", photo_album_photo_path(@photo_album, photo), data: { turbo_frame: "lightbox" }, 
                                                                    class: "overlay-button" %>

      </div>
  </div>

</div>