<div class="col">
  <div class="img-container">
    <div class="img-wrapper">
      <%= link_to photo_album_photo_path(@photo_album, photo), data: { turbo_frame: "lightbox" } do %>
        <%= image_tag photo.image, alt: photo.description %>
        <%= photo_description(photo) %>
      <% end %>
    </div>
  </div>
</div>