<div class="card">
  <%= image_tag photo.image, class: 'card-img', alt: photo.description %>

  <div class="card-body">
    <p class="text-center">
      <%= photo.description %>
    </p>

    <div class="actions">
      <%= photo_actions(photo) %>
    </div>
    
  </div>

</div>