.contact-form {
  .form-container {
    display: flex;
    justify-content: space-between;
  }

  #contact-image {
    height: 500px;
    object-fit: cover;

    @media (max-width: 767px) {
      display: none;
    }
  }

  #message {
    height: 100px;
  }

  .contact-actions {
    .primary-button {
      background-color: $gradient1;
      color: black;
      border: 1px solid $gradient1;
      font-size: 14px;
      padding: 10px 25px;
      border-radius: 3px;
  
      &:hover {
        background-color: $gradient5;
        color: $gradient1;
      }
    }
  }
} 