body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}
section {
  padding: 0;
  width: 100%;
}
.hero {
  background-image: url('hero.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
.hero h1 {
  font-size: 3em;
  margin: 0;
}
.slogan {
  padding: 50px 0;
  text-align: center;
  border-bottom: 1px solid #6DDFC7;
}
.slogan h2 {
  margin: 0;
  font-size: 2em;
}
.section {
  padding: 50px 20px;
  text-align: center;
  border-bottom: 1px solid #6DDFC7;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}
// Card styles
.card {
  background-color: #6DDFC7;
  border: 1px solid #6DDFC7; // see what fun you can have with this
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex: 1 1 calc(33% - 40px);
  max-width: calc(33% - 40px);
  box-sizing: border-box;
}
.card h3 {
  margin-top: 0;
  font-size: 1.5em;
  color: black
}
.card p {
  font-size: 1em;
  color: #555;
}
.card .price {
  font-size: 2em;
  color: #333;
  margin: 20px 0;
}

/* Responsive */
@media (max-width: 900px) {
  .card {
      flex: 1 1 calc(50% - 40px);
      max-width: calc(50% - 40px);
  }
}

// gallery styles
.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.gallery img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Responsive design */
@media (max-width: 1200px) {
  .gallery {
      grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .gallery {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .gallery {
      grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .card {
      flex: 1 1 100%;
      max-width: 100%;
  }
}