.package {
  .package-list th, .package-list td {
    padding: 10px 20px;
  }
  
  .package-list {
    border-collapse: collapse;
    width: 100%;
  }
  
  .package-list th, .package-list td {
    border: 1px solid #ddd;
  }
}

.packages-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.package-item {
  flex: 1 1 100%;
  min-width: 0;
}

.card {
  height: 100%;
  background-color: #6DDFC7;
}

.card-body {
  text-align: left;
}

#trix-content {
  flex-grow: 1;
}

#trix-content * {
  color: black;
}

@media (min-width: 768px) {
  .package-item {
    flex: 1 1 calc(33.333% - 1rem);
  }
}
