.photo-albums {
  .photo-albums-container {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    width: 60%;
    gap: 10px;

    @media (max-width: 768px) {
      flex-direction: column;
      width: 90%;
    }

    .column-row {
      display: flex;
      flex-direction: column;
      place-content: flex-start;
      flex: 1 1 auto;
      width: 0;
      gap: 8px;

      @media (max-width: 768px) {
        width: 100%;
      }

      .photo-album-list-item {
        box-sizing: border-box;
        margin: 0 0 10px;
        min-width: 0;
        text-align: center;
        list-style: none;
        position: relative;

        &.taller-item {
          margin: 0 0 10px;
          height: 210px;
          display: flex;
          flex-direction: column;

          @media (max-width: 768px) {
            height: auto;
            aspect-ratio: 16 / 9;
          }
        }

        div {
          flex: 1;
          margin: 0 auto;

          .photo-album-image {
            overflow: hidden;
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            max-width: 400px;
            cursor: pointer;
            border: 0 !important;
            outline: 0 !important;
            transition: box-shadow 0.25s;
            background-color: rgba(0, 0, 0, 0.1);

            @media (max-width: 768px) {
              max-width: 100%;
              height: auto;
              aspect-ratio: 16 / 9;
            }
          }

          .photo-album-overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6);
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            transition: opacity 0.25s ease-in-out;

            .overlay-content {
              text-align: center;

              .overlay-title {
                font-size: 14px;
                margin-bottom: 0.6rem;
              }

              .overlay-date {
                font-size: 12px;
                margin-bottom: 0.8rem;
              }
            }
          }
        }

        &:hover .photo-album-overlay {
          opacity: 1;
        }
      }
    }
  }
}
