// Customizing the Trix toolbar 

// Style the entire toolbar container
trix-toolbar {
  background-color: #6DDFC7;
  border-radius: 5px;
  padding: 10px; 
  border: 1px solid #6DDFC7;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

// Style individual button groups to make them seamless
trix-toolbar .trix-button-group {
  margin: 0; 
  padding: 0;
}

trix-editor .trix-toolbar {
  background-color: #eaeaea;
}

// Style buttons
trix-toolbar .trix-button {
  margin: 0; 
  padding: 5px 10px;
  border-radius: 3px;
  background-color: black;
  color: #6DDFC7;
  border: 1px solid black;
  font-size:14px;
}

// Hover effect for buttons
trix-toolbar .trix-button:hover {
  background-color: #6DDFC7;
  color: black;
}

// Customizing the editor content area
.trix-content {
  
  padding: 10px;
  
  border-radius: 5px;
  min-height: 200px;
}

// Adjust text formatting
.trix-content h1,
.trix-content h2,
.trix-content h3 {
  font-family: "Lato", "Calibri", "Helvetica", sans-serif; 
  color: #333;
}

.trix-content p {
  line-height: 1.6;
  margin-bottom: 15px;
}

// Hide attachment caption (file name)
trix-editor .attachment__caption {
  display: none;
}

.trix-content {
  width: 100%;
  max-width: 100%;
}
// TODO figure out how to collapse the toolbar on mobile so it doesn't have to be hidden
@media (max-width: 600px) {
  trix-toolbar {
    display: none;
  }
}