//font-size
$small-font-size: 14px;
$medium-font-size: 16px;
$large-font-size: 18px;
$extra-large-font-size: 20px;
$header-font-size: 70px;

//colors
$primary-color: #356476;

$gradient1: #009ca6; //#6DDFC7;
$gradient2: #51bfba;
$gradient3: #40a0a8;
$gradient4: #398191;
$gradient5: #356476;
$gradient6: #2f4858;