<div>
  <%#= sub_header title: "There were errors", separator: false %> 

  <ul>
    <% obj.errors.full_messages.each do |err| %>
      <li><%#= err %></li>
    <% end %>
  </ul>  
</div>

<div role="alert">
  <ul class="list-unstyled">
    <% obj.errors.full_messages.each do |err| %>
      <li><%= err %></li>
    <% end %>
  </ul>
</div>
