<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to image_tag('logo.png', width: '150px'), root_path, class: "navbar-logo" %>
    </div>

    <div class="navbar-menu">
      <ul class="navbar-links">
        <%= navbar_links(photo_album: @photo_album) %>
      </ul>
    </div>
  </div>
</nav>